/* ============================
   Base Styles
============================ */

:root {
    --red_theme: #f26661;
    --black_theme: #080710;
    --gray_theme: #222222;
    --white_theme: seashell;

    font-family: "Oswald", sans-serif;
}

.body {
    margin: 0;
    padding: 0;
}

#login_body, #index_body, #dashboard_body {
    background-color: var(--black_theme);
}

#movies_body {
    background-color: var(--gray_theme);
}

#movie_body, #star_body, #movie_cart_body, #payment_cart_body {
    background-color: var(--white_theme);
}

/* ============================
   Typography
============================ */

h1 {
    position: fixed;
    top: -25px;
    left: 0;
    z-index: 5;
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
    font-size: 36px;
    line-height: 1.5;
    color: var(--white_theme);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #f7504a, var(--red_theme));
    animation: slideIn 1s ease forwards;
}

h1 a {
    color: var(--gray_theme);
}

h1 a:hover {
    color: seashell;
    text-decoration: underline;
    transition: color 0.3s;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

h3 {
    margin-top: 100px;
}

/* ============================
   Layout
============================ */

#header_container {
    position: fixed;
    z-index: 10;
    width: 100%;
}

#login_background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 430px;
    height: 520px;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

#movie_info, #star_info, #payment_info {
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
    color: var(--black_theme);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#pagination {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: darkgray;
    background-color: var(--gray_theme);
}

/* ============================
   Components
============================ */

#movies_table {
    table-layout: fixed;
    width: 100%;
    margin-top: 92px;
    margin-bottom: 50px;
    padding-top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}

#movie_table, #star_table {
    width: 70%;
    margin: 0 auto;
    padding-top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}

#cart_table {
    width: 80%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}

.movies_table_heading {
    position: sticky;
    top: 92px;
    z-index: 10;
    margin-top: 92px;
    font-size: 16px;
    font-weight: bold;
    color: darkgray;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to left, #2e2d2d, var(--gray_theme));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    word-wrap: normal;
}

.movie_table_heading, .star_table_heading {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: darkgray;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to left, #2e2d2d, var(--gray_theme));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    word-wrap: normal;
}

.cart_table_heading {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: darkgray;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to left, #2e2d2d, #222222);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    word-wrap: normal;
}

tr:nth-child(even) td {
    background: #CCC;
}

tr:nth-child(odd) td {
    background: #FFF;
}

tr:hover td {
    background-color: var(--red_theme);
}

td {
    padding: 10px;
    font-size: 14px;
    color: black;
    background-color: #f0ebeb;
    word-wrap: break-word;
}

td a {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

td a:hover {
    color: var(--white_theme);
    text-decoration: underline;
}

#total_price td {
    font-size: 16px;
    color: var(--white_theme);
    background-color: var(--gray_theme);
}

#login_form, #dashboard_login_form {
    position: absolute;
    top: 53%;
    left: 50%;
    width: 325px;
    height: 450px;
    transform: translate(-50%, -50%);
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid;
    border-radius: 10px;
}

#login_form *, #dashboard_login_form * {
    letter-spacing: 0.5px;
    color: var(--white_theme);
    border: none;
    outline: none;
}

#login_form h2, #dashboard_login_form h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search_form {
    height: 425px;
    margin-top: 125px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
}

.ui-autocomplete {
    z-index: 3;
    max-height: 220px;
    background-color: var(--white_theme);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
    overflow-y: auto;
}

.ui-autocomplete .ui-menu-item {
    font-size: 14px;
    color: var(--black_theme);
    border: none;
    outline: none;
    cursor: pointer;
}

.ui-autocomplete .ui-menu-item .ui-state-active {
    font-weight: bold;
    color: var(--white_theme);
    background-color: var(--red_theme);
    border: none;
    outline: none;
}

.ui-autocomplete .ui-menu-item + .ui-menu-item {
    border-top: 1px solid #eaeaea;
}

#browse_genres_list {
    height: 200px;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    letter-spacing: 0.5px;
    color: var(--white_theme);
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#browse_alphabet_list {
    height: 135px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    letter-spacing: 0.5px;
    color: seashell;
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
    outline: none;
}

#genres_list, #alphabet_list {
    margin-top: 15px;
    font-size: 18px;
}

#genres_list a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: var(--white_theme);
    text-decoration: none;
}

#alphabet_list a {
    padding-left: 5px;
    padding-right: 4px;
    font-size: 21px;
    color: var(--white_theme);
    text-decoration: none;
}

#genres_list a:hover, #alphabet_list a:hover {
    color: var(--red_theme);
    text-decoration-line: underline;
    text-decoration-color: var(--red_theme);
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
}

#metadata_list {
    height: 390px;
    margin-top: 132px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    letter-spacing: 0.5px;
    color: var(--white_theme);
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.table_metadata h2 {
    text-transform: uppercase;
}

#insert_star_form {
    height: 325px;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
}

#insert_movie_form {
    height: 540px;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
}

#payment_form {
    position: absolute;
    top: 54%;
    left: 50%;
    width: 350px;
    height: 530px;
    margin-top: 25px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 50px;
    transform: translate(-50%, -50%);
    background-color: var(--gray_theme);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
}

#search_form *, #insert_star_form *, #insert_movie_form *, #payment_form * {
    letter-spacing: 0.5px;
    color: var(--white_theme);
    outline: none;
}

#logout_form {
    position: absolute;
    top: -95px;
    left: 1346px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
}

#logout_form * {
    letter-spacing: 0.5px;
    color: var(--gray_theme);
    outline: none;
}

.g-recaptcha {
    transform: scale(1.07);
    transform-origin: 0 0;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

#email_label, #password_label {
    margin-top: 15px;
}

#search_title_label, #search_year_label, #search_director_label, #search_star_label, #insert_star_name_label, #insert_star_year_label, #insert_movie_title_label, #insert_movie_year_label, #insert_movie_director_label, #insert_movie_star_label, #insert_movie_genre_label {
    display: inline-block;
    width: 47.8%;
    margin-right: 2%;
}

#movies_per_page_label {
    margin-top: 0;
    margin-right: 10px;
    font-size: 16px;
    vertical-align: middle;
    color: var(--white_theme);
}

#movies_per_page {
    padding: 5px 10px;
    font-size: 16px;
    color: var(--white_theme);
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#movies_per_page:hover {
    background-color: #444444;
}

#movies_per_page option {
    color: var(--white_theme);
    background-color: #333333;
}

#payment_first_name_label, #payment_last_name_label, #payment_credit_card_label, #payment_expiration_label {
    font-size: 18px;
}

input {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 300;
    color: var(--white_theme);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

#email, #password {
    width: 94%;
    padding-left: 4%;
    padding-right: 2%;
}

#search_title, #search_year, #search_director, #search_star, #insert_star_name, #insert_star_year, #insert_movie_title, #insert_movie_director, #insert_movie_year, #insert_movie_star, #insert_movie_genre {
    display: inline-block;
    width: 46%;
    margin-right: 2%;
    border: none;
}

#insert_movie_title {
    width: 96%;
}

#payment_first_name, #payment_last_name, #payment_credit_card_number, #payment_expiration_date {
    width: 360px;
    border: none;
}

#quantity_input {
    letter-spacing: 0.5px;
    color: var(--black_theme);
    border: none;
    outline: none;
}

::placeholder {
    color: #e5e5e5;
}

button {
    position: absolute;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--black_theme);
    background-color: rgba(255, 245, 238, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: var(--white_theme);
    background-color: var(--red_theme);
}

#login_button {
    position: static;
    display: block;
    width: 100%;
    padding: 0 10px;
    color: var(--black_theme);
    background-color: var(--white_theme);
}

.logout_button {
    top: 16px;
    height: 65px;
}

.logout_button:hover {
    color: var(--white_theme);
    background-color: var(--gray_theme);
}

#index_logout_button {
    top: -15px;
}

#single_movie_logout_button, #single_star_logout_button {
    top: 10px;
}

#movie_cart_logout_button {
    top: -10px;
}

#payment_logout_button {
    top: 10px;
}

.view_cart_button {
    position: absolute;
    top: -78px;
    left: 1230px;
    z-index: 10;
    height: 65px;
    letter-spacing: 0.5px;
    color: var(--gray_theme);
    border-radius: 5px;
    outline: none;
}

#index_view_cart_button {
    top: -109px;
}

#single_movie_view_cart_button, #single_star_view_cart_button {
    top: -84px;
}

#search_button, #insert_star_button, #insert_movie_button {
    left: 1095px;
    width: 15%;
    margin-top: 35px;
    color: var(--black_theme);
    background-color: var(--white_theme);
}

#insert_star_button, #insert_movie_button {
    display: inline-block;
}

.back_button {
    position: absolute;
    top: -83px;
    left: 12px;
    z-index: 10;
    height: 65px;
    letter-spacing: 0.5px;
    color: var(--gray_theme);
    border-radius: 5px;
    outline: none;
}

#movies_add_to_cart_button, #movie_add_to_cart_button, #single_star_add_to_cart_button, #remove_from_cart_button {
    position: static;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0;
    cursor: pointer;
}

#movies_add_to_cart, #movie_add_to_cart, #single_star_add_to_cart, #remove_from_cart {
    padding: 0;
}

#proceed_to_payment_button {
    left: 1090px;
    margin-top: 15px;
    color: var(--white_theme);
    background-color: var(--gray_theme);
}

#payment_button {
    left: 450px;
    bottom: 5px;
    width: 25%;
    height: 12%;
    color: var(--white_theme);
    background-color: var(--gray_theme);
}

#search_button:hover, #payment_button:hover, #proceed_to_payment_button:hover, #insert_star_button:hover, #insert_movie_button:hover {
    color: var(--white_theme);
    background-color: var(--red_theme);
}

#pagination button {
    height: 37px;
    margin-top: -17px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    color: var(--white_theme);
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pagination button:hover {
    background-color: #444444;
}

#prev_button {
    right: 175px;
}

#next_button {
    position: absolute;
    right: 70px;
    width: 100px;
    margin-top: -10px;
    text-align: center;
}

#page_number {
    position: absolute;
    right: 70px;
    width: 100px;
    margin-top: -10px;
    text-align: center;
}

#login_error_message, #dashboard_login_error_message, #insert_star_message p, #insert_movie_message p {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--red_theme);
    text-align: center;
    text-transform: uppercase;
}

#insert_star_message, #insert_movie_message {
    display: inline-block;
    width: 400px;
    margin-top: 25px;
    margin-left: 585px;
    padding-right: 15px;
}

#insert_star_message p, #insert_movie_message p {
    text-align: right;
}

#payment_error, #cart_loading_message, #cart_success_message {
    display: none;
    color: var(--red_theme);
}

#login_background .login_shape {
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.login_shape:first-child {
    top: -50px;
    left: -50px;
    background: linear-gradient(#f7504a, var(--red_theme));
}

.login_shape:last-child {
    bottom: -50px;
    right: -50px;
    background: linear-gradient(to right, #f7504a, var(--red_theme));
}

/* ============================
   Utilities
============================ */

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
