/* This styles the webpage from movies.html */

/* This styles the entire body of the webpage */
#index_body {
    background-color: #080710;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

#login_body {
    background-color: #080710;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

#movies_body {
    background-color: #080710;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

#movie_body {
    background-color: seashell;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

#star_body {
    background-color: seashell;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

#header_container {
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* This styles all h1 (heading) elements */
h1 {
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    line-height: 1.5;
    background: linear-gradient(to right, #f7504a, #f26661);
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    position: fixed;
    top: -25px;
    left: 0;
    width: 100%;
    z-index: 5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease forwards;
}

h1 a {
    color: #222222;
    text-decoration: none;
}

h1 a:hover {
    color: seashell;
    text-decoration: underline;
    transition: color 0.3s;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

h3 {
    margin-top: 100px;
}

#movie_information {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: bold;
    padding-left: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: inline;
}

#movie_director {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: bold;
    padding-left: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#star_info {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: bold;
    padding-left: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#controls {
    margin-top: 92px;
    margin-bottom: 0;
    padding-left: 680px;
    position: sticky;
    background: linear-gradient(to left, #2e2d2d, #222222);
    color: darkgray;
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
    top: 92px;
}

#pagination {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #222222;
    color: darkgray;
}

#pagination button {
    height: 37px;
    margin-top: 6.5px;
    color: seashell;
    font-family: "Oswald", sans-serif;
}

#prev_button {
    right: 145px;
}

#next_button {
    right: 9px;
}

#page_number {
    width: 75px;
    text-align: center;
    margin-top: 15px;
    position: absolute;
    right: 70px;
}

/* This styles all table elements */
#movies_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-top: 0;
    margin-bottom: 50px;
    margin-top: 92px;
}

#filters label, #page_size label {
    display: inline-block;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
}

#movie_table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-top: 0;
}

#star_table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-top: 0;
}

/* This styles all th (table header) cells */
.movies_table_heading {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    background: linear-gradient(to left, #2e2d2d, #222222);
    color: darkgray;
    position: sticky;
    top: 92px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
    margin-top: 92px;
    word-wrap: normal;
}

.movie_table_heading {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    background: linear-gradient(to left, #2e2d2d, #222222);
    color: darkgray;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 0;
    word-wrap: normal;
}

.star_table_heading {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    background: linear-gradient(to left, #2e2d2d, #222222);
    color: darkgray;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 0;
    word-wrap: normal;
}

/* This styles all tr (table row) cells */
tr:nth-child(even) td {
    background: #CCC
}

tr:nth-child(odd) td {
    background: #FFF
}

tr:hover td{
    background-color: #f26661;
}

/* This styles all td (table data) cells */
td {
    font-size: 14px;
    font-family: "Oswald", sans-serif;
    background-color: #f0ebeb;
    color: black;
    padding: 10px;
    word-wrap: break-word;
}

td a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

td a:hover {
    color: seashell;
    text-decoration: underline;
}

#login_background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin-top: 50px;
}

#login_background .login_shape {
    height: 175px;
    width: 175px;
    position: absolute;
    border-radius: 50%;
}

.login_shape:first-child {
    background: linear-gradient(#f7504a, #f26661);
    left: -50px;
    top: -50px;
}

.login_shape:last-child {
    background: linear-gradient(to right, #f7504a, #f26661);
    right: -50px;
    bottom: -50px;
}

#currentSessionInfo {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    width: 90%;
    color: seashell;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px;
    margin-top: 110px;
    margin-left: 5%;
}

#login_form {
    height: 385px;
    width: 325px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
    margin-top: 25px;
}

#logout_form {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    top: -95px;
    left: 1346px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    z-index: 10;
}

#cart_form {
    background-color: rgba(255, 255, 255, 0.13);
    height: 235px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

#search_form {
    background-color: rgba(255, 255, 255, 0.13);
    height: 425px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}

#browse_genres_list {
    font-family: "Oswald", sans-serif;
    color: seashell;
    letter-spacing: 0.5px;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.13);
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}

#browse_alphabet_list {
    font-family: "Oswald", sans-serif;
    color: seashell;
    letter-spacing: 0.5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.13);
    height: 135px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#genres_list {
    margin-top: 15px;
    font-size: 18px;
}

#alphabet_list {
    margin-top: 15px;
    font-size: 18px;
}

#genres_list a{
    color: seashell;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

#alphabet_list a{
    color: seashell;
    font-size: 21px;
    padding-left: 5px;
    padding-right: 4px;
    text-decoration: none;
}

#genres_list a:hover {
    color: #f26661;
    text-decoration-line: underline;
    text-decoration-color: #f26661;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
}

#alphabet_list a:hover {
    color: #f26661;
    text-decoration-line: underline;
    text-decoration-color: #f26661;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
}

/*#filtered_movies_list {*/
/*    background-color: rgba(255, 255, 255, 0.13);*/
/*    width: 100%;*/
/*}*/

#login_form *{
    font-family: "Oswald", sans-serif;
    color: seashell;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

#logout_form *{
    font-family: "Oswald", sans-serif;
    color: #222222;
    letter-spacing: 0.5px;
    outline: none;
}

#cart_form *{
    font-family: "Oswald", sans-serif;
    color: seashell;
    letter-spacing: 0.5px;
    outline: none;
}

#search_form *{
    font-family: "Oswald", sans-serif;
    color: seashell;
    letter-spacing: 0.5px;
    outline: none;
}

/*#filtered_movies_list *{*/
/*    font-family: "Oswald", sans-serif;*/
/*    color: seashell;*/
/*    letter-spacing: 0.5px;*/
/*    outline: none;*/
/*}*/

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    margin-top: 8px;
    color: seashell;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}

::placeholder {
    color: #E5E5E5;
}

#email, #password {
    width: 94%;
    padding-left: 4%;
    padding-right: 2%;
}

button {
    background-color: rgba(255, 245, 238, 0.30);
    color: #080710;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #f26661;
    color: seashell;
}

#login_button {
    display: block;
    position: static;
    color: #080710;
    width: 100%;
    background-color: seashell;
    margin-top: 10px;
    padding: 0 10px;
}

.logout_button {
    height: 65px;
    top: 16px;
}

#index_logout_button {
    top: 0;
}

#index_logout_button:hover, #movies_logout_button:hover, #single_movie_logout_button:hover, #single_star_logout_button:hover, #login_button:hover {
    background-color: #222222;
    color: seashell;
}

#cart_item {
    display: inline-block;
    width: 85%;
    margin-right: 20px;
    border: none;
}

#search_title_label, #search_year_label, #search_director_label, #search_star_label {
    display: inline-block;
    width: 47.8%;
    margin-right: 2%;
}

#search_title, #search_year, #search_director, #search_star {
    display: inline-block;
    width: 46%;
    border: none;
    margin-right: 2%;
}

#cart_item_button {
    display: inline-block;
    width: 10%;
    color: #080710;
    background-color: seashell;
    margin-top: 8px;
}

#search_button {
    width: 15%;
    color: #080710;
    background-color: seashell;
    margin-top: 35px;
    left: 1095px;
}

#cart_item_button:hover, #search_button:hover {
    background-color: #f26661;
    color: seashell;
}

#login_error_message {
    color: #f26661;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
}

/*#movies_per_page_label {*/
/*    font-size: 20px;*/
/*    margin-top: 10px;*/
/*    padding-left: 10px;*/
/*}*/

#movies_per_page_label {
    color: seashell;
    font-size: 16px;
    margin-right: 10px;
    font-family: "Oswald", sans-serif;
    vertical-align: middle;
}

#movies_per_page {
    background-color: #333333;
    color: seashell;
    border: 1px solid #555555;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    font-family: "Oswald", sans-serif;
    outline: none;
    cursor: pointer;
}

#movies_per_page option {
    background-color: #333333;
    color: seashell;
}

#movies_per_page:hover {
    background-color: #444444;
}

#pagination button {
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pagination button:hover {
    background-color: #444444;
}